/venv/
/.idea/
/src/steps/__pycache__
**/__pycache__/
*.pyc
*/__pycache__/*
/src/data/processed/*
.idea/workspace.xml
/src/data/processed
src/data/processed/data_processing.pkl
/src/data/processed
/src/books_data_low_review/
/src/books_data_asst_review/
/src/output/
/src/data/processed/
/src/dataset_v2_labelled
/src/dataset_v2
/src/dataset_v2
/src/books_data_low_review_asst_10k
/src/books_data_low_review_25k
/src/books_data_low_review_asst_25k
/src/dataset_v3_labelled
/src/dataset_v3_merged
/src/dataset_v2_merged
/src/books_data_low_review_10k
